html(lang='en')
  head
    meta(charset='utf-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{ htmlWebpackPlugin.options.title }
  body(class="frame")

    header
      h1 #{ htmlWebpackPlugin.options.title }

    article(class="content")
      block content

    footer(role="navigation")
      ul(class="nav-list")
        li(class="nav-list__item")
          a(href="./") lock
        li(class="nav-list__item")
          a(href="./keys.html") keys
        li(class="nav-list__item")
          a(href="./buttons.html") buttons
        li(class="nav-list__item")
          a(href="./new.html") new
        li(class="nav-list__item")
          a(href="./subject.html") subject
        li(class="nav-list__item")
          a(href="./state-flow.html") state flow